<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="pruebaCeina3.My.MySettings.conexion" connectionString="Data Source=DESKTOP-O55QRS2\MSSQLSERVERSAM;Initial Catalog=bd_VoyVolandoCeiba;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="pruebaCeina3.My.MySettings.bd_VoyVolandoCeibaConnectionString"
		 connectionString="Data Source=HACKNEL;Initial Catalog=bd_VoyVolandoCeiba;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="ProyectoPEDVVoyVolandoCeiba.My.MySettings.conexion"
		 connectionString="Data Source=DESKTOP-O55QRS2\MSSQLSERVERSAM;Initial Catalog=bd_VoyVolandoCeiba;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>